body {
    font-family: 'Roboto', sans-serif;
}

h5 {
    color:  #6400aa;
}


/* -------------------- Navbar -------------------- */


.navbar {
    margin-bottom: 0;
    background-color: #6400aa;
    width: 100%;
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

.navbar-nav {
    float: right;
}

/* -------------------- Main Page & Jumbotron -- idea and format borrowed from Whiskey Drop and edited to suit -------------------- */


.callout-container {
    height: 100%;
    background: url('../images/bkgd.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron {
    background-color: transparent;
    padding-top: 150px;

}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    text-decoration: underline;
}

.jumbotron h2 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
}

.jumbotron .lead {
    color:  #a59a9a;
    font-weight: bold;
    margin: 25px 0;
}

.jumbotron .main {
    color: #a59a9a;
    margin: 25px 0;
}

.jumbotron .status {
    color: #C4CC97;
    margin: 25px 0;
    font-weight: bold;
    font-size: 30px;
}


/* -------------------- Dividers -------------------- */


.block-divider {
    width: 200px;
    height: 5px;
    border: 0;
    background-color: #6400aa;
}

/* -------------------- Latest News Section -------------------- */


ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
    box-shadow: 10px 10px 8px #888888;
}

ul.timeline > li {
    margin: 20px 5px;
    padding-left: 20px;
}

ul.timeline > li:before {
    content: ' ';
    background: #000;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.timeline {
    background-color: transparent;
    color: #fff;
}    
    
.nheaders {
    color: #22c0e8;
    font-weight: bold;
} 

.news {
    padding-top: 170px;
}

/* -------------------- Gallery Section -------------------- */


.gallery {
    padding-top: 130px;
}

.image-labels {
    color: white;
    margin: 10px;
}

/* -------------------- Footer -- SM styles borrowed from CV site and edited to suit -------------------- */


footer {
    background-color: #6400aa;
    color: #fafafa;
    min-height: 100px;
    margin: 0;
    padding: 15px;
}

.sm-links {
    padding-bottom: 0px;
}

.sm-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #4D76FF;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.sm-links li a i:hover {
    background: #e84610;
}

.uppercase {
    color: #fff;
}

/* -------------------- Contact HTML Styles -------------------- */


 button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e84610;
    border-color: #6400aa;
}

.contact-form {
    background-color: #d1d1d1;
    border-radius: .25rem;
    box-shadow: 10px 10px 8px #888888;
    margin-bottom: 20px;
}

.radio {
    text-align: left;
    margin: 10px;
} 

/* -------------------- About HTML Styles -------------------- */


.about-header {
    margin: 15px;
    padding-top: 10px;
    color: #a59a9a;
    font-weight: bold;
}

.about-sm {
    text-align: left;
    margin: 10px;
}

.about-form {
    background-color: white;
    border-radius: .25rem;
    box-shadow: 10px 10px 8px #888888;
    margin-bottom: 20px;
}

.data-scroll {
    height: 300px;
    overflow-y: scroll;
}

.border {
    border: solid;
    margin: 30px;
    padding: 10px;
    border-radius: .25rem;
    box-shadow: 10px 10px 8px #888888;

}

/* -------------------- Metrics HTML Styles -------------------- */


.metrics-header {
    margin: 15px;
    padding-top: 10px;
    color: #a59a9a;
    font-weight: bold;
}
    
.metrics-form {
    background-color: white;
    border-radius: .25rem;
    box-shadow: 10px 10px 8px #888888;
    margin-bottom: 20px;
}

.dropdown-menu {
    background-color: #000;
    box-shadow: 10px 10px 8px #888888;
}

.dropdown-item {
     color: #fff;
}

