body {
    font-family: 'Roboto', sans-serif;
}


/* -------------------- Navbar -------------------- */

.navbar {
    margin-bottom: 0;
    background-color: #6400aa;
    width: 100%;
    border: 0;

}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

.navbar-nav {
    float: right;
}

/* -------------------- Main Page & Jumbotron -- idea and format borrowed from Whiskey Drop and edited to suit -------------------- */

.callout-container {
    height: 100%;
    background: url('../images/bkgd.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron {
    background-color: transparent;
    padding-top: 150px;

}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    text-decoration: underline;
}

.jumbotron .lead {
    color: white;
    font-weight: bold;
    margin: 25px 0;
}

.jumbotron h2 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
}

.jumbotron .main {
    color: white;
    margin: 25px 0;
    padding-bottom: 45px;

}

.jumbotron .status {
    color: white;
    margin: 25px 0;
}

/* -------------------- Dividers -------------------- */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #6400aa;
}


/* -------------------- Latest News Section -------------------- */

ul.timeline {
    list-style-type: none;
    position: relative;

}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
    box-shadow: 10px 10px 8px #888888;
}

ul.timeline > li {
    margin: 20px 5px;
    padding-left: 20px;
}

ul.timeline > li:before {
    content: ' ';
    background: #000;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.timeline {
    background-color: transparent;
    color: #fff;
}    
    
.nheaders {
    color: #22c0e8;
    font-weight: bold;
} 

.news {
    padding-top: 170px;
}

/* -------------------- Gallery Section -------------------- */

.gallery {
    padding-top: 130px;
}

h6 {
    color: white;
    margin: 10px;
}

